
/* NAVBAR EXTRAS */

.navbarborder {
  border: 0;
}


.collapse.in {
      display: block;
}

.footer {

  text-align: right;

}

ul-1  {
  list-style-type: circle;
}

.fa {
  padding: 20px;
   font-size: 60px;
   width: 60px;
   text-align: center;
   text-decoration: none;
   margin: 5px 2px;
   border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
  color: black;
}
.fa-instagram-square {
  color: black;
}

.fa-envelope-square {
  color: black;
}

.fa-phone-square-alt {
  color: black;
}


.cornersimg {
  border-radius: 50px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;

  background: #fff;
}
.zeromargin {


  margin: 0 !important;
}


/* padding */
.nopadding {
   padding: 15px !important;
   margin: 0px !important;
}

.paddingAbout {
   padding: 50px 15px !important;

}

.toppadding{
     padding:50px 15px !important;
}

.gridlayout{
/*  display:block;*/
  width: 100%;
  height: 100%;
/*  padding: 15px;*/
  position: relative;

/*  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;*/
border-radius: 50px;

  transition: all .3s ease-in-out;
}

.heighttest{

  height: 100%;

}


.gridlayout:hover{

  box-shadow: #D6D6D6 0px 14px 15px;
  transform: translate3d(0px, -15px, 0px);
  border-radius: 50px;
transition: .5s ease;
}

.nav-item {

  font-family: 'Balthazar', serif;
  text-align: center;
  font-size: 120%;
  margin-left: 15px;

}

.nav-item.active{

  border-bottom: 3px solid #000000;
  padding-bottom: 0px;


}

.about-header {
  font-family: 'Cormorant', serif;
  font-weight: bold;
  margin-left: 15px;
  display: block;

}

.about-header2{
  font-family: 'Cormorant', serif;
  text-align: left;
  color: black;
  font-size: 1.75em;
  font-weight: bold;
  border-bottom: 3px solid #000000;
  padding-bottom: 0px;

}

.about-text{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  color: black;
  font-size: 1.2rem;
}

.aboutText{
  height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column; /* Column | row */
  font-family: 'Source Sans Pro', sans-serif;
  color: #080E33;
}

.extraText{

  font-family: 'Balthazar', serif;

}
.extraText2{
  font-family: 'Balthazar', serif;
  font-size: 1.25em;
}


.headerText{
font-family: 'Cormorant', serif;
color: #080E33;
font-size: 3em;
font-weight: bolder;


}

.btn-default {

  border-radius: 40px;
  margin:0 auto;
  display:block;
}

a:link {
/*  color:  #FF7473; */
color: #080E33;
}

a:visited{
/*  color:  #FF7473; */
color: #080E33;
}
a:hover{
  color: #FF7473;
}


btn-link:link {
/*  color:  #FF7473; */
color: #080E33;
}

btn-link:visited{
/*  color:  #FF7473; */
color: #080E33;
}
btn-link:hover{
  color: #FF7473;
}



.experiments-header{
  font-family: 'Cormorant', serif;
  text-align: left;
  color: black;
  font-weight: bold;

/*  font-size: 1.5em;*/
  margin-left: 15px;

}
.colortest{

background-color: coral;

}


.delay1 {

  animation-delay: 0.25s
}

.delay2 {

  animation-delay: 0.5s
}
.delay3 {

  animation-delay: 0.75s
}
.delay4 {

  animation-delay: 1s
}
.delay5 {

  animation-delay: 1.25s
}
.delay6 {

  animation-delay: 1.5s

}

.overlay {
  position: absolute;
  border-radius: 50px;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  transition: .5s ease;
  background-color: rgba(0, 0, 0);
}

.gridlayout:hover .overlay {

  opacity: 0.5;

}

.textoverlay {
  color: white;
/*  font-size: 20px;*/
  font-family: 'Balthazar', serif;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/* mobile css */

@media (max-width: 575.98px) {

  h3{
    font-size: 1.5rem;
  }

  .textsmall{
    font-size: 100% !important;

  }

}

@media (min-width: 768px) {

  .verticalAlign {
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
  }
 }
